# Verification

- [ ] Run `pnpm dev`
- [ ] Check Login page
- [ ] Check Dashboard
